extends layout

block content
  .row.banner
    .col-12.text-center
      h1.display-4.text-primary Expense Tracker
      p.lead Manage your expenses, track your transactions, and stay on top of your finances effortlessly.

  .row
    .col-12.col-md-8
      .card.shadow-sm.mb-4
        .card-header.bg-info.text-white
          h4 
           a(href="/transactions") Recent Transactions
           small &nbsp;
          span.badge.badge-pill.badge-light.float-right 30 Days
        .card-body
          p Total Expenses: #{expenses.length} transactions
          if expenses.length > 0
            ul.list-group.list-group-flush
              each expense in expenses
                li.list-group-item
                  .row
                    .col-7
                      strong= expense.description
                      br
                      small.text-muted Category: #{expense.category}
                    .col-3.text-right
                      span.badge.badge-success= '₹' + expense.amount
                    .col-2.text-right
                      small.text-muted= expense.date.toDateString()
          else
            p.text-muted No recent transactions found.

        .card-footer
          p.text-right.font-weight-bold
            | Total Sum: ₹#{totalAmount}

    .col-12.col-md-4
      .card.shadow-sm.mb-4
        .card-header.bg-secondary.text-white
          h4 Take Control of Your Finances
        .card-body
          p
            | Expense Tracker helps you manage your finances with ease. Add expenses, categorize them, and keep track of where your money goes.
            | Whether for personal or business use, our tool provides insights to help you stay within your budget.
          ul
            li Add new expenses
            li View recent transactions
            li Get a summary of your total expenses
            li Analyze spending patterns
          
  .row.mt-4
    .col-12.text-center
      